<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <!-- Already in LAYOUT.EJS  -->
        

        <div>
            <ol>
                <% for(let i of something){ %>
                    <li>
                        <%= i.name %>
                    </li>
                <% } %>
            </ol>
        </div>

       

    </body>
</html>
<!-- <%- include('_header'); -%>  --> 
 <!-- <%- include('_footer'); -%> -->