#main-div{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    height: 50px;
    background-image: linear-gradient(to bottom right, aliceblue, lightyellow);
}
#image-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#image-div img{
    margin-top: 10px;
}
