<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <!-- Already in LAYOUT.EJS  -->
        <!-- <%- include('_header'); -%> -->

        <div>
            <ol>
                <% for(let i of something){ %>
                    <li>
                        <%= i.name %>
                    </li>
                <% } %>
            </ol>
        </div>

        <!-- <%- include('_footer'); -%> -->

    </body>
</html>